<html>

  <head>
	  <script src="js/phaser.js"></script>
	  <!--<script src="js/sprites.js"></script>-->
	  <!--<script src="js/mapModel.js"></script>-->
	  <!--<script src="js/shipModel.js"></script>-->
	  <!--<script src="js/playerModel.js"></script>-->
	  <!--<script src="js/load.js"></script>-->
	  <!--<script src="js/gameObjects/reStart.js"></script>-->
	  <!--<script src="js/testing.js"></script>-->
	  <script src="js/scripts/mapScript.js"></script>
      <script src="js/scripts/doorchestScript.js"></script>
	  <script src="js/scripts/npcScript.js"></script>
	  <script src="js/main.js"></script>
	  <!--<script src="testing/phaser-examples-master/examples/tilemaps/map collide.js"></script>-->
	  <title>Test Planet 31</title>
  </head>
  <body>
	  Welcome! hi
	  <div id="game"></div>
  </body>
</html>